<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h2>Tambah Data Guru</h2><br><br>
    <form action="/teachers/add" method="POST">
    First Name:<br>
    <input type="text" name="firstname" value="">
    <br><br>
    Last Name:<br>
    <input type="text" name="lastname" value="">
    <br><br>
    Email:<br>
    <input type="text" name="email" value="">
    <br><br>
    <br><br>
    <select name="dropDown">
      <%data.forEach(dataDrop => {%>

        <option value="<%=dataDrop.id%>" selected><%=dataDrop.subject_name%></option>
      <%})%>
    </select>
    <br><br>
    <input type="submit" value="Submit">
    <a href = "/teachers"> <button type="button" name="buttons">Cancel</button></a>
  </form>
  </center>
  </body>
</html>
