<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <center>
    <h2>Tambah Data Subject</h2><br><br>
    <form action="/subjects/add" method="POST">
    Subject Name:<br>
    <input type="text" name="subjectname" value="">
    <br><br>
    <br><br>
    <input type="submit" value="Submit">
    <a href = "/subjects"> <button type="button" name="buttons">Cancel</button></a>
  </form>
  </center>
  </body>
</html>
