<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <center>
    <h1>Daftar User</h1>
    <form class="" action="/signup" method="post">
      <input type="text" name="username" value="" placeholder="username"><br><br>
      <input type="text" name="password" value="" placeholder="password"><br><br>
      <select name = "role">
        <option value="teacher">teacher</option>
        <option value="headmaster">headmaster</option>
        <option value="academic">academic</option>
      </select>
      <br><br>
      <button type="submit" name="button">Daftar</button>
    </form>
  </center>

  </body>
</html>
