<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Form</title>
  </head>
  <body>
    <center>
    <h1>EDIT FORM</h1>
    <form action="/teachers/edit/<%=data_teachers.id%>" method = "POST">
      <br>
      First Name :<br>
      <input type="text" name="first_name" value= "<%=data_teachers.first_name%>" >
      <br>
      Last Name :<br>
      <input type="text" name="last_name" value= "<%=data_teachers.last_name%>" >
      <br>
      Email :<br>
      <input type="text" name="email" value= "<%=data_teachers.email%>" >
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </center>

  </body>
</html>
